
data/chr22.maf.ancestors.42000000.complete.boreo.conf
data/chr22.maf.ancestors.42000000.complete.boreo.fa
data/100_seq.txt
data/seq_15_7.csv
data/25_seq_60.txt
data/results15_7.txt
data/results25_60.txt
scripts/__pycache__/generate_genome_sequence.cpython-38.pyc
data/5_seq_50.csv
data/results5_50.txt
data/100_seq_100.csv
data/50_seq_100_p1.csv
data/50_seq_100_p2.csv
data/results/results100_31_105_p1.txt
data/results/results100_31_115.txt
data/results/results100_31_125_p2.txt
data/results/results100_31_125_void.txt
data/results/results100_23_89_p1.txt
data/results/results100_23_99_p2.txt
data/results/results100_31_105_p2.txt
data/results/results100_31_125_p1.txt
data/results5_50_v2.txt
data/results/results500_31_125_p2.txt
data/results/results500_31_125_p1.txt
data/results/results100_31_115_p2.txt
data/results/results100_31_115_p1.txt
data/results/results100_23_99_p2_v2.txt
data/results/results100_23_99_p1.txt
data/results/results100_23_89_p2.txt
data/results/results100_23_89_p1_v2.txt
data/results/results100_23_79_p2.txt
data/results/results100_23_79_p1.txt
data/results/results100_15_55_p2.txt
data/results/results100_15_55_p1.txt
data/results/results100_15_45_p2.txt
data/results/results100_15_45_p1.txt
data/results/results100_15_35_p2.txt
data/results/results100_15_35_p1.txt
data/results/outdated/results100_31_125_void.txt
data/results/outdated/results100_31_125_p2.txt
data/results/outdated/results100_31_125_p1.txt
data/results/outdated/results100_31_115.txt
data/results/outdated/results100_31_105_p2.txt
data/results/outdated/results100_31_105_p1.txt
data/results/outdated/results100_23_99_p2.txt
data/results/outdated/results100_23_89_p1.txt
data/10_seq_500_p2.csv
data/10_seq_500_p1.csv
